.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: var(--primary-color);
}

.logo {
    font-size: 1.5rem;
    color: var(--text);
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo span {
    font-weight: bold;
}

.logo:hover {
    transition: text-shadow 0.3s ease;
    text-shadow: 0 0 10px var(--secondary-color), 0 0 20px var(--secondary-color), 0 0 30px var(--secondary-color), 0 0 40px var(--secondary-color);
}

.logo img {
    width: 2rem;
    height: 2rem;
}

nav {
    display: flex;
    gap: 2rem;
}

nav a {
    text-decoration: none;
    transition: color 0.3s ease;
}

nav a:hover {
    color: var(--text-hover);
}

.socials {
    display: flex;
    gap: 1rem;
    align-items: center;
}

@media (max-width: 768px) {
    .nav {
        display: none;
    }
}
